body{line-height:1;}
ol,ul{list-style:none;}
:focus{outline:1;}
table{border-collapse:collapse;border-spacing:0;}
ol{display:block;list-style-type:decimal-leading-zero;margin:1em 0;padding-left:40px;}
li{display:list-item;}
.hidden{display:none;}
p{line-height:1.5em;}
h1{font-size:1.75em;line-height:1.7em;font-family:helvetica,verdana;}
h2{font-size:1.5em;line-height:1.7em;font-family:helvetica,verdana;}
h3{font-size:1.25em;line-height:1.7em;font-family:helvetica,verdana;}
h4{font-size:1em;line-height:1.7em;font-family:helvetica,verdana;}
html,body{width:100%;height:100%;}
body{margin:0;padding:0;background-color:#ffffff;position:relative;font:16px/24px "NobileRegular","Lucida Grande",Lucida,Verdana,sans-serif;}
a{color:#1b61d6;text-decoration:none;}
a:hover{color:#e88f00;text-decoration:underline;}

.main, header[role] > div{
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}

header[role="banner"]{
	height:200px;
	background:#ffffff url(headerbg.png) repeat-x 0 top;
	position: fixed;
	width: 100%;
	z-index: 900}

.logo{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 35px}
.warn{
	font-size: 18px;
	color:red;
	font-weight: bold;
	display: block;
	text-align: center;}

.page-title, .authentication-controls{
	display: inline-block;
	position: static;}
.authentication-controls{
	text-align: right;
	margin-right: 0;
	right: 0;}


.main{
	padding-top: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	overflow: hidden;}


ul.links{
	margin:0;padding:0;}
ul.links li{
	list-style-type:none;font-size:14px;}

form{
	border-style:none;}
label{
	display:block;}
input{
	color: #222;
	border: 1px solid #ccc;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 16px;}
input[type=text],input[type=password]{width:205px;}
input[type=submit]{
	background-color: #ddd;
	font-weight: bold;}

/*Opera Fix*/
body:before{content:"";height:100%;float:left;width:0;margin-top:-32767px;}
